# Public repo: ignore everything except the site files
/*
!/.gitignore
!/index.html
!/styles.css
!/script.js
!/CNAME
!/logo.jpg
!/favicon.png
!/robots.txt
!/progress.txt
# Site images (og-image.jpg now; fried.jpg, sauce.jpg, hands.jpg later)
!/images/
!/images/og-image.jpg
